.fileDisplay {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  /* border: 5px solid #555555; */
  border-radius: 2px;
}

.fileIcon {
  width: 50px;
}
.fileName {
  font-size: xx-large;
}
.fileDisplayButton {
  width: 20px;
  height: 20px;
}
.filesDisplayLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.testO {
  content: url("/src/assets/vite.svg");
}
/* Tooltip text */
.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.directoryButton:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
/* Show the tooltip text when you mouse over the tooltip container */
.directoryButton:hover .tooltip {
  visibility: visible;
}
.body {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background: transparent;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
